@using OrderSys.Model;

<!--popup处理进度-->
<div id="handledetail_popup" class='weui-popup-container'>
    <div class="weui-popup-overlay"></div>
    <div class="weui-popup-modal">
        <header class='demos-header'>
            @Html.Partial("~/Areas/Weixin/Views/Shared/_Back.cshtml", new BackViewModel() { Title = "处理进度", Popup = "#handledetail_popup" })
        </header>
        <article class="weui-article"></article>
    </div>
</div>

<script>
    openHandledetailPopup = function (orderID) {
        //打开popup
        var popup = '#handledetail_popup';
        var container = '#handledetail_popup > .weui-popup-modal > .weui-article';
        var url = '@Url.Action("HandleDetail", "Order", new { area = "Weixin" })';
        var parms = { OrderID: orderID };
        $.openMyPopup(popup);

        var article = new Article(container);
        doGetPartial1(article, url, parms);
    }
</script>