@model string
@{
    Layout = null;
}
<div style="width:100%;">
    <div class="mini-toolbar" id="toobar" style="border-bottom:0;padding:0px;">
        <table style="width:100%;">
            <tr>
                <td id="Header" style="width:100%;">
                    @*<a class="mini-button" iconcls="icon-add" onclick="add()">增加</a>*@
                </td>
            </tr>
        </table>
    </div>
</div>

<script>
    $(function () {
        var Header = $("#Header");
        var url = '@Url.Action("GetButton", "Home", new { area = "Admin" })';
        var parm = { NavigateUrl: '@Model' };
        debugger;
        
        doGet(url, parm, function (jdata) {
            if (jdata.Code == '200') {
                debugger;
                $.each(jdata.Data.DT.JSNet, function (i, n) {
                    var topButton = $('<a>' + n.Resource_FullName + '</a>').appendTo(Header); //顶部按钮
                    topButton.prop("id", "btn_" + n.Resource_ID);
                    topButton.attr("plain", false);
                    topButton.addClass("mini-button mini-button-info");
                    mini.parse();//一定需要才能初始化按钮成为mini ui对象
                    var btn = mini.get("btn_" + n.Resource_ID);
                    var fun = n.Resource_Code.split('.');
                    debugger;
                    btn.on("click", lowerFirstLetter(fun[fun.length - 1]));
                })
            }
        })
    })
</script>


