@{
    ViewBag.Title = "员工管理";
    Layout = "~/Areas/Admin/Views/Shared/_InnerLayout.cshtml";
}

@RenderPage("~/Areas/Admin/Views/Shared/_Header.cshtml")
<div class="mini-fit">
    <div id="staff-datagrid" class="mini-datagrid" idfield="Staff_ID" ajaxoptions="{type : 'get'}" style="width:100%;height:100%"
         url="@Url.Action("GetList", "Staff", new { area = "Admin" })" datafield="Data.DT.JSNet" totalfield ="Data.Count">
        <div property="columns">
            <div type="indexcolumn">序号</div>
            <div field="Role_ID" width="120" headeralign="center" allowsort="true" visible="false">Role_ID</div>
            <div field="Staff_ID" width="120" headeralign="center" allowsort="true" visible="false">Staff_ID</div>
            <div field="Organize_ID" width="120" headeralign="center" allowsort="true" visible="false">Organize_ID</div>
            <div field="User_ID" width="120" headeralign="center" align="center" allowsort="true" visible="false">User_ID</div>
            <div field="Staff_Name" width="120" headeralign="center" align="center" allowsort="true">姓名</div>
            <div field="Staff_Tel" width="120" headeralign="center" align="center" allowsort="true">电话</div>
            <div field="Organize_FullName" width="120" headeralign="center" align="center" allowsort="true">部门</div>
            <div field="Role_FullName" width="120" headeralign="center" align="center" allowsort="true">已分配的角色</div>
        </div>
    </div>
</div>

<script>
    mini.parse()
    var staff_grid = mini.get("staff-datagrid");

    staff_grid.load({
        pageIndex: 0,
        pageSize: 50,
        sortField: "Role_ID",//排序字段必需要，不然没法分页
        sortOrder: "DESC",//排序字段必需要，不然没法分页
    }, function (data) {
        ajaxTips(data.text);
    }, function (data) {
    })

    function add() {
        mini.open({
            url: "@Url.Action("InsertIndex", "Staff", new { area = "Admin" })",
            title: "新增员工", width: 600, height: 400,
            onload: function () {
                var iframe = this.getIFrameEl();
                var data = { action: "new" };
                iframe.contentWindow.SetData(data);
            },
            ondestroy: function (action) {

                staff_grid.reload();
            }
        });
    }

    function edit() {
        var row = staff_grid.getSelected();
        if (row) {
            mini.open({
                url: bootPATH + "../demo/CommonLibs/EmployeeWindow.html",
                title: "编辑员工", width: 600, height: 400,
                onload: function () {
                    var iframe = this.getIFrameEl();
                    var data = { action: "edit", id: row.id };
                    iframe.contentWindow.SetData(data);

                },
                ondestroy: function (action) {
                    grid.reload();

                }
            });

        } else {
            alert("请选中一条记录");
        }

    }

</script>
