@using OrderSys.Model;


<div class="weui_cells weui_cells_access">
    <a class="weui_cell" href="javascript:openStaffsPopup();">
        <div class="weui_cell_bd weui_cell_primary">
            <p><span class="p_m iconfont">&#xe64c;</span> 添加</p>
        </div>
        <div class="weui_cell_ft">
        </div>
    </a>
</div>

<div class="weui_cells weui_cells_form">
    <!--展示选中的员工-->
</div>

<div class="weui_btn_area">
    <a class="weui_btn weui_btn_primary" href="javascript:doAppoint('@ViewBag.OrderID');">确定</a>
</div>

<!--已选员工模板-->
<div id="staffModal">
    <div class="weui_cell handler" style="display:none">
        <div class="weui_cell_hd"><label class="weui_label"><span class="p_m iconfont">&#xe646; </span><span class="staffName"></span></label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input staffID" type="hidden" />
            <input class="weui_input workload" type="" placeholder="请输入工作量">
        </div>
    </div>
</div>

@Html.Partial("~/Views/Popup/StaffsPopup.cshtml")

<script>
    //remove dom
    removeHandlerDom = function (id) {
        Staff.remove(id, function () {
            $('#staff_' + id).remove();
        })
    }

    setLeader = function (id) {
        $('#staff_' + id).siblings().removeClass("leader");
        $('#staff_' + id).addClass("leader");
    }

    addHandlerDom = function () {
        $('.weui_cells_form').empty();
        var staffs = Staff.get();
        //debugger;
        $.each(staffs, function (index, handler) {
            var handlerDom = $('#staffModal > .handler').clone(true).appendTo($('.weui_cells_form'));
            handlerDom.attr('id', 'staff_' + handler.ID);
            handlerDom.find('.weui_label').on('click', function () {
                removeHandlerDom(handler.ID);
            });
            handlerDom.on('click', function () {
                setLeader(handler.ID);
            });
            handlerDom.find(".staffID").val(handler.ID);
            handlerDom.find(".staffName").text(handler.Name);
            handlerDom.show();
        });
    }

    doAppoint = function (orderID) {
        //多个处理者情况下，必须有领队
        var handlers = new Array();
        $('.weui_cells_form > .handler').each(function () {
            var handler = new Object();
            handler.OrderID = orderID;
            handler.HandlerID = parseInt($(this).find(".staffID").val());
            handler.Workload = parseInt($(this).find(".workload").val() || 1);

            if ($(this).hasClass("leader")) {
                handler.IsLeader = 1;
            } else {
                handler.IsLeader = 0;
            }
            handlers.push(handler);
        })
        var json = JSON.stringify(handlers);
        debugger;

        $.confirm("请核对委派的资料是否正确?", "确认委派?", function () {
            var url = '@Url.Action("DoAppointOrder", "Order")';
            doSubmit(url, { jsonHandlers: json, orderID: orderID }, function (jdata) {
                if (jdata.Code == "200") {
                    //委派完成，关闭本div
                    closePopup('#appointorder_popup');
                    $('#appointingorder_' + orderID).remove();
                }
            });
        }, function () {
            //取消操作
        });
    }


</script>

