@model System.Data.DataTable
@using JSNet.BaseSys;
@using JSNet.Utilities;

<div class="weui_cells weui_cells_form">
    <div class="weui_cell">
        <div class="process">
            <ul>
                @foreach (System.Data.DataRow dr in Model.Rows)
                {
                    <li>
                        <label>
                            @Convert.ToDateTime(dr["HandleTime"]).ToString(BaseSystemInfo.DateFormat)<br />
                            @Convert.ToDateTime(dr["HandleTime"]).ToString(BaseSystemInfo.TimeFormat)
                        </label>
                        <span class="circle"></span>【@EnumExtensions.ToDescription((OrderHandleType)dr["HandleType"])】@dr["Remark"]
                    </li>
                }
            </ul>
        </div>
    </div>
</div>