@using OrderSys.Model;
@{
    ViewBag.Title = "MyStartIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="weui_tab">
    <div class="weui_navbar" id="tab1">
        <li class="weui_navbar_item" id="startemyorder_btn" onclick="setTab(1,0)">
            新发起
        </li>
        <li class="weui_navbar_item weui_bar_item_on" id="query_mystarted_btn" onclick="setTab(1, 1)">
            已发起
        </li>
    </div>
    <div class="weui_tab_bd" id="tablist1">
        <div class="tablist">
            <div id="startorder">@Html.Partial("~/Views/Order/StartOrder.cshtml") </div>
        </div>
        <div class="tablist block">
            <div id="mystarted_list"></div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Popup/WorkflowsPopup.cshtml")

<script>
    var startedQuery;

    $(function () {
        startedQuery = new Query('#mystarted_list');
        querymystarted();
    })

    querymystarted = function () {
        var url = '@Url.Action("MyStartedOrders", "Order")';
        var parms = {
            PageIndex: startedQuery.pageIndex,
            PageSize: startedQuery.pageSize,
        };
        doQuery1(startedQuery, url, parms);
    }

</script>
