@{
    ViewBag.Title = "MyStartIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="weui_tab">
    <div class="weui_navbar">
        <div class="weui_navbar_item">
            未接单
        </div>
        <div class="weui_navbar_item weui_bar_item_on">
            处理中
        </div>
    </div>
    <div class="weui_tab_bd">
        
    </div>
</div>

<script>
    TabChanged = function () {

    }
</script>
