@model System.Data.DataTable
@using JSNet.Utilities;
@using JSNet.BaseSys;

@foreach (System.Data.DataRow dr in Model.Rows)
{
    <div class="list_sym">
        <div class="list_sym_l">
            <div class="list_sym_l_in">
                <div class="list_sym_l_in_t">报障单号：@dr["OrderNo"]</div>
                <div class="list_sym_l_in_m">
                    <ul>
                        <li><font color="#ed3232" size="2">状态：@EnumExtensions.ToDescription((OrderPriority)dr["Priority"])</font></li>
                        <div class="clear"></div>
                        <li>待办人：@dr["NextOperaterName"]</li>
                        <li>电话：@dr["NextOperaterTel"]</li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="list_sym_l_in_b">
                    工单内容：<br />
                    @dr["Content"]
                </div>
            </div>
        </div>
        <div class="list_sym_r">
            <label class="state">待接单</label>
            <a class="orders" onclick="receiveOrder('@Url.Action("ReceiveOrder", "Order", new { ID = dr["ID"] })')">接单</a>
            <a href="@Url.Action("GetOrderDetail", "Order", new { ID = dr["ID"] }))" class="details">详情</a>
        </div>
        <div class="clear"></div>
    </div>
}
<script>
    receiveOrder = function (url) {
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                ajaxSuccessTips(data);
                pageIndex= 1;
                //重新查询
                querymystarted();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown);
            }
        })
    }
</script>


