@{
    ViewBag.Title = "MyStartIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="weui_tab">
    <div class="weui_navbar" id="tab1">
        <li class="weui_navbar_item" onclick="setTab(1,0)">
            新发起
        </li>
        <li class="weui_navbar_item weui_bar_item_on" id="querymystarted-btn" onclick="setTab(1, 1)">
            已发起
        </li>
    </div>
    <div class="weui_tab_bd" id="tablist1">
        <div class="tablist" id="startorder">
            @Html.Partial("~/Views/Order/StartOrder.cshtml") 
        </div>
        <div class="tablist block" id="my-receving">

        </div>
    </div>
</div>

<script>
    var pageIndex = 1;
    var pageSize = 20;

    $(function () {
        init();
        querymystarted();
    })

    init = function () {
    }

    querymystarted = function () {
        $('#querymystarted-btn').off('click', querymystarted);

        if (pageIndex == 1) {
            clearDom('my-receving');
        }
        query(
            'my-receving',
            '@Url.Action("GetMyStartedOrders", "Order")',
            { pageInde: pageIndex, pageSize: pageSize });
        pageIndex++;
    }

</script>
