<div class="weui_cells weui_cells_form">
    <div class="weui_cell">
        <div class="weui_cell_hd"><label for="" class="weui_label">此天前完成</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" id="BookingTime" type="date" value="">
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">联系人</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" id="Attn" type="" placeholder="不填默认发单人">
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">联系电话</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" id="AttnTel" type="" placeholder="不填默认发单人电话">
        </div>
    </div>

</div>

<div class="weui_cells_title">紧急程度</div>
<div class="weui_cells weui_cells_checkbox">
    <label class="weui_cell weui_check_label" for="s11">
        <div class="weui_cell_hd">
            <input type="radio" class="weui_check" name="Priority" id="s11" checked="checked" value="0">
            <i class="weui_icon_checked"></i>
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <p>一般</p>
        </div>
    </label>
    <label class="weui_cell weui_check_label" for="s12">
        <div class="weui_cell_hd">
            <input type="radio" name="Priority" class="weui_check" id="s12" value="1">
            <i class="weui_icon_checked"></i>
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <p>紧急</p>
        </div>
    </label>
</div>

<div class="weui_cells weui_cells_form">
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <textarea class="weui_textarea" id="Content" placeholder="请输入报账单内容" rows="3"></textarea>
            @*<div class="weui_textarea_counter"><span>0</span>/200</div>*@
        </div>
    </div>
</div>

<div class="weui_cells weui_cells_form">
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <textarea class="weui_textarea" id="Remark" placeholder="请输入备注" rows="2"></textarea>
            @*<div class="weui_textarea_counter"><span>0</span>/200</div>*@
        </div>
    </div>
</div>

<div class="weui_btn_area">
    <a class="weui_btn weui_btn_primary" href="javascript:doStartOrder()" id="showTooltips">确定</a>
</div>

<script>
    doStartOrder = function () {
        var data = {
            BookingTime: $('#BookingTime').val(),
            Attn: $('#Attn').val(),
            AttnTel: $('#AttnTel').val(),
            Priority: $("input[name='Priority']:checked").val(),
            Content: $('#Content').val(),
            Remark: $('#Remark').val()
        };

        doSubmit('@Url.Action("StartOrder", "Order")', data, function (jdata) {
            if (jdata.Code == "200") {
                pageIndex = 1;
                querymystarted();//查询
                setTab(1, 1);//切换tab
            }

        })
    };

    doClearStartForm = function () {
        $('#BookingTime').val('');
        $('#Attn').val('');
        $('#AttnTel').val('');
        $('#s11').prop("checked", true);
        $('#Content').val('');
        $('#Remark').val('');
    }

</script>