@{
    ViewBag.Title = "资源对象管理";
    Layout = "~/Areas/Admin/Views/Shared/_InnerLayout.cshtml";
}

@Html.Partial("~/Areas/Admin/Views/Shared/_Header.cshtml", Request.Url.AbsolutePath)
<div class="mini-fit">
    <div id="OrganizeCategory-datagrid" class="mini-datagrid" idfield="ID" ajaxoptions="{type : 'get'}" style="width:100%;height:100%" autoload="false"
         url="@Url.Action("GetOrganizeCategoryList", "Organize", new { area = "Admin" })" datafield="Data.List" totalfield="Data.Count">
        <div property="columns">
            <div field="FullName" width="180" headeralign="center" align="center" allowsort="true">标题</div>
            <div field="Code" width="180" headeralign="center" align="center" allowsort="true">标识码</div>
            <div field="Description" width="120" headeralign="center" align="center" allowsort="true">机构描述</div>
        </div>
    </div>
</div>


<script>
    mini.parse()
    var OrganizeCategory_grid = mini.get("OrganizeCategory-datagrid");

    OrganizeCategory_grid.load({
        pageIndex: 0,
        pageSize: 50,
        sortField: "ID",//排序字段必需要，不然没法分页
        sortOrder: "DESC",//排序字段必需要，不然没法分页
    }, function (data) {
        ajaxTips(data.text);
    }, function (data) {
    })


    function add() {
        mini.open({
            url: "@Url.Action("InsertOrganizeCategoryIndex", "Organize", new { area = "Admin" })",
            title: "新增组织机构类型", width: 500, height: 160,
            onload: function () {
                debugger;
                var iframe = this.getIFrameEl();
                var data = { action: "new" };
                iframe.contentWindow.SetData(data);
            },
            ondestroy: function (action) {
                OrganizeCategory_grid.reload();
            }
        });
    }

    function edit() {
        var row = OrganizeCategory_grid.getSelected();
        if (row) {
            mini.open({
                url: "@Url.Action("EditOrganizeCategoryIndex", "Organize", new { area = "Admin" })",
                title: "编辑组织机构类型", width: 500, height: 160,
                onload: function () {
                    var iframe = this.getIFrameEl();
                    var data = { action: "edit", ID: row.ID };
                    iframe.contentWindow.SetData(data);
                },
                ondestroy: function (action) {
                    OrganizeCategory_grid.reload();
                }
            });

        } else {
            alert("请选中一条记录");
        }
    }

</script>
