
<form id="OrganizeCategory-form" method="post" style="height:100%;width:100%">
    <input name="ID" class="mini-hidden" />
    <div style="padding-left:11px;padding-bottom:5px;">
        <table style="table-layout:fixed;">
            <tr>
                <td style="width: 70px; text-align: right;">标题：</td>
                <td style="width:150px;">
                    <input name="FullName" class="mini-textbox" required="true" emptytext="请输入标题" />
                </td>
                <td style="width: 70px; text-align: right;">标识码：</td>
                <td style="width:150px;">
                    <input name="Code" class="mini-textbox" required="true" emptytext="请输入标识码" onvalidation="onExistOrganizeCategoryCodeValidation" />
                </td>
            </tr>
            <tr>
                <td style="width: 70px; text-align: right;">备注：</td>
                <td style="width:150px" colspan="3">
                    <input name="Description" class="mini-textarea" required="false" emptytext="请输入备注内容（可选）" width="100%"/>
                </td>
            </tr>
        </table>
    </div>
    <div style="text-align:center;padding:10px;">
        <a class="mini-button" onclick="onOk" style="width:60px;margin-right:20px;">确定</a>
        <a class="mini-button" onclick="onCancel" style="width:60px;">取消</a>
    </div>
</form>

<script>
    mini.parse();
    var form = new mini.Form("OrganizeCategory-form");

    ////////////////////
    //标准方法接口定义
    function SetData(data) {
        if (data.action == "edit") {
            //跨页面传递的数据对象，克隆后才可以安全使用
            data = mini.clone(data);
            var url = '@Url.Action("GetSingleOrganizeCategory", "Organize", new { area = "Admin" })';
            var parms = { OrganizeCategoryID: data.ID };

            doGet(url, parms, function (jdata) {
                var o = jdata.Data
                debugger;
                form.setData(o);
                form.setChanged(false);
            })
        }
    }

    /////////////////
    ///验证相关
    function onExistOrganizeCategoryCodeValidation(e) {
        var pass = false;
        if (e.isValid) {
            var OrganizeCategoryID = mini.getbyName("ID").getValue();
            var url = '@Url.Action("VerifyOrganizeCategoryCode", "Organize", new { area = "Admin" })';
            var data = { OrganizeCategoryCode: e.value, OrganizeCategoryID: OrganizeCategoryID };
            doGetSync(url, data, function (jdata) {
                if (jdata.Code == '200') {
                    debugger;
                    if (jdata.Data == true) {
                    } else {
                        e.errorText = "编号已存在！";
                        e.isValid = false;
                    }
                }
            });
        }
    }

    /////////////////
    ///保存数据
    function SaveData() {

        var o = form.getData();
        //将空的属性转为null
        if (o.ID == "") {
            o.ID = null;
        }

        form.validate();
        if (form.isValid() == false) return;

        var url;
        if (o.ID == null) {
            url = '@Url.Action("AddOrganizeCategory", "Organize", new { area = "Admin" })';
        } else {
            url = '@Url.Action("EditOrganizeCategory", "Organize", new { area = "Admin" })';
        }
        var json = mini.encode(o);
        var data = { viewModel: json };
        doPost(url, data, function (jdata) {
            if (jdata.Code == '200') {
                CloseWindow("save");
            }
        })
    }

    /////////////////
    ///按钮方法
    function onOk(e) {
        SaveData();
    }
    function onCancel(e) {
        CloseWindow("cancel");
    }


    function CloseWindow(action) {
        if (action == "close" && form.isChanged()) {
            if (confirm("数据被修改了，是否先保存？")) {
                return false;
            }
        }
        if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
        else window.close();
    }


</script>

