@model Dictionary<string,Dictionary<int,string>>

<div>
    @{if (Model.ContainsKey("filterStatus"))
    {
        <div class="weui_cells_title filter_title" style="padding:0">我的工单状态</div>
        <div class="weui-row" id="filterStatus">
            @{foreach (var kvp in Model["filterStatus"])
          {
        <div class="weui-col-50" value="@kvp.Key">@kvp.Value</div>
          }
            }
        </div>
    }
    }
    <div class="weui_cells_title filter_title" style="padding:0">紧急程度</div>
    <div class="weui-row" id="filterPriority">
        <div class="weui-col-50" value="0">一般</div>
        <div class="weui-col-50" value="1">紧急</div>
    </div>
    <div class="weui_cells_title filter_title" style="padding:0">截止日期</div>
    <div class="weui-row">
        <div class="weui-col-100">
            <input class="weui_input" id="filterBookingTime" type="date" value="">
        </div>
    </div>
    <div class="weui_cells_title filter_title" style="padding:0">维修地点</div>
    <div class="weui-row">
        <div class="weui-col-100">
            <input class="weui_input fltct" id="filterWorkingLocation" type="text" placeholder="请输入需要筛选的维修地点">
        </div>
    </div>
    <div class="weui_cells_title filter_title" style="padding:0">内容</div>
    <div class="weui-row">
        <div class="weui-col-100">
            <input class="weui_input fltct" id="filterContent" type="text" placeholder="请输入需要筛选的内容">
        </div>
    </div>


    <div class="weui-row">
        <div class="weui-col-50" style="border:none;height:42px">
            <a class="weui_btn weui_btn_primary" href="javascript:search()" id="search">确定</a>
        </div>
        <div class="weui-col-50" style="border:none;height:42px">
            <a class="weui_btn weui_btn_primary" href="javascript:reset()" id="reset">重置</a>
        </div>
    </div>
</div>


<script>
    $(function () {
        $('#filterStatus').children('div').on('click', function () {
            $(this).siblings("div").removeClass('now');
            if ($(this).hasClass('now')) {
                $(this).removeClass('now');
            } else {
                $(this).addClass('now');
            }
        })

        $('#filterPriority').children('div').on('click', function () {
            $(this).siblings("div").removeClass('now');
            if ($(this).hasClass('now')) {
                $(this).removeClass('now');
            } else {
                $(this).addClass('now');
            }
        })
    })

    reset = function () {
        $("#filterStatus").children("div").removeClass("now")
        $("#filterPriority").children("div").removeClass("now");
        $("#filterWorkingLocation").val('');
        $("#filterBookingTime").val('');
        $("#filterContent").val('');
    }

    getQueryFilters = function () {
        var filter = new Object();
        filter.status = $("#filterStatus").children(".now").attr("value");
        filter.priority = $("#filterPriority").children(".now").attr("value");
        filter.bookingTime = $("#filterBookingTime").val();
        filter.content = $("#filterContent").val();
        filter.workingLocation = $("#filterWorkingLocation").val();
        return filter;
    }

    setQueryFilters = function (query) {
        debugger;
        var article = new Article('#filter');
        doGetPartial1(article, '/Weixin/Home/FilterIndex', { tabid: query.tabID });

        $("#filterStatus").children("div").removeClass("now");
        $.each($("#filterStatus").children("div"), function (i, n) {
            if ($(this).attr("value") == query.status) {
                $(this).addClass("now");
            }
        });

        $("#filterPriority").children("div").removeClass("now");
        $.each($("#filterPriority").children("div"), function (i, n) {
            if ($(this).attr("value") == query.priority) {
                $(this).addClass("now");
            }
        })

        $("#filterBookingTime").val(query.bookingTime);
        $("#filterContent").val(query.content);
        $("#filterWorkingLocation").val(query.workingLocation);
    }
</script>

