@model System.Data.DataTable

<!--头部-->
<div class="top">
    <span class="iconfont top_nav">
        <i>&#xe65b;</i>
        <div class="top_nav_in">
            <div class="top_nav_in_t">
                <div class="top_nav_in_avatar circle">
                    <img src="/Content/images/avatar_t2.png" width="100%" />
                </div>
                <div class="top_nav_in_name">@ViewBag.StaffName</div>
            </div>
            <ul>
                @{foreach (System.Data.DataRow dr in Model.Rows)
                  {
                    <li>
                        <em class="iconfont">&#xe690;</em><a href="@dr["Url"]">@dr["Title"]</a>
                    </li>
                  }
                }
            </ul>
        </div>
        <div class="top_nav_in2"></div>
        <script>
            $(function () {
                var w_h = $(document).height();
                var w_w = $(document).width();
                $('.top_nav_in').height(w_h);
                $('.top_nav_in2').width(w_h);
                $('.top_nav_in2').height(w_h);
            });
        </script>
        <script>
            $('.top_nav i').click(function () {
                $('.top_nav_in').css('left', '0');
                $('.top_nav_in2').fadeIn(200);
            });
            $('.top_nav_in2').click(function () {
                $('.top_nav_in').css('left', '-200px');
                $('.top_nav_in2').fadeOut(200);
            });
        </script>
    </span>
    <label class="iconfont" onclick="refresh()">&#xe727;</label>
    <i class="iconfont">&#xe729;</i>
</div>

 <div class="top_choose">
    <div class="weui_cells_title" style="padding:0">标题标题标题标题标题标题</div>
    <div class="weui-row">
        <div class="weui-col-33 now">CDC中国开发者大会</div>
        <div class="weui-col-33">CDC中国开发者大会</div>
        <div class="weui-col-33">CDC中国开发者大会</div>
        <div class="weui-col-33">CDC中国开发者大会</div>
        <div class="weui-col-33">CDC中国开发者大会</div>
        <div class="weui-col-33">CDC中国开发者大会</div>
    </div>
    <div class="weui_cells_title" style="padding:0">标题标题标题标题标题标题</div>
    <div class="weui-row">
        <div class="weui-col-33">CDC中国开发者大会</div>
        <div class="weui-col-33">CDC中国开发者大会</div>
        <div class="weui-col-33">CDC中国开发者大会</div>
        <div class="weui-col-33">CDC中国开发者大会</div>
        <div class="weui-col-33">CDC中国开发者大会</div>
        <div class="weui-col-33">CDC中国开发者大会</div>
    </div>
    <div class="slide_close iconfont">&#xe79a;</div>
    <script>
        $(function () {
            var w_h2 = $(window).height();
            $('.top_choose').height(w_h2);
        });
        $(function () {
            $('.top i').click(function () {
                $('.top_choose').fadeIn(200);
            });
            $('.slide_close').click(function () {
                $('.top_choose').fadeOut(200);
            });

        });
    </script>
</div>