@model System.Data.DataTable

<!--头部-->
<div class="top">
    <span class="iconfont top_nav">
        <i style="left:0px">&#xe65b;</i>
        <div class="top_nav_in">
            <div class="top_nav_in_t">
                <div class="top_nav_in_avatar circle">
                    <img src="/Content/images/avatar_t2.png" width="100%" />
                </div>
                <div class="top_nav_in_name">@ViewBag.StaffName （@ViewBag.RoleName）</div>
            </div>
            <ul>
                @{foreach (System.Data.DataRow dr in Model.Rows)
                  {
                    <li>
                        <em class="iconfont"></em><a href="@dr["Url"]">@dr["Title"]</a>
                    </li>
                  }
                }
            </ul>
        </div>
        <div class="top_nav_in2"></div>
        <script>
            $(function () {
                var w_h = $(document).height();
                var w_w = $(document).width();
                $('.top_nav_in').height(w_h);
                $('.top_nav_in2').width(w_h);
                $('.top_nav_in2').height(w_h);
            });
        </script>
        <script>
            $('.top_nav i').click(function () {
                $('.top_nav_in').css('left', '0');
                $('.top_nav_in2').fadeIn(200);
                $('body').css({
                    "overflow-x": "hidden",
                    "overflow-y": "hidden"
                });
                $("body").on("touchmove", function (event) { event.preventDefault; }, false);
            });
            $('.top_nav_in2').click(function () {
                $('.top_nav_in').css('left', '-200px');
                $('.top_nav_in2').fadeOut(200);
                $('body').css({
                    "overflow-x": "auto",
                    "overflow-y": "auto"
                });
                $("body").off("touchmove");
            });
        </script>
    </span>
    <label class="iconfont" onclick="refresh()">&#xe727;</label>
    <i class="iconfont myfliter" onclick="showFilter()">&#xe729;</i>
</div>

 <div class="top_choose nr2">
    <div id="filter" class="scrollable1">
        <!--筛选器内容-->
    </div>
    <div class="slide_close iconfont">&#xe79a;</div>

     <script src="/Content/phone_scroll/js/iscroll.js"></script>
    <script>
        //$(function () {
        //    var w_h2 = $(window).height();
        //    $('.top_choose').height(w_h2);
        //});

        $(function () {
            var w_h = $(document).height();
            $('.nr2').height(w_h);
            $('#filter').height(w_h);
        });


        fadeInFilter = function () {
            $('.top_nav_in2').fadeIn(200);
            $('.top_choose').fadeIn(200);
            $('.bg').on('touchmove', function (e) { e.preventDefault(); }, false);//弹出层的背景层阻止默认滑动事件
            new IScroll('#filter');
            //$('body').css({
            //    "overflow-x": "hidden",
            //    "overflow-y": "hidden"
            //});
            //$.smartScroll($('#filter'), '#filter');
            //$('html').addClass('noscroll');
            //$('html').css({ "height": "100%", "overflow": "hidden" });
            //$('body').css({ "height": "100%", "overflow": "hidden" });

        }

        fadeOutFilter = function () {
            $('.top_nav_in2').fadeOut(200);
            $('.top_choose').fadeOut(200);
            //$('body').css({
            //    "overflow-x": "auto",
            //    "overflow-y": "auto"
            //});
            //$('html').removeClass('noscroll');
            //$('html').css({ "height": "auto", "overflow": "auto" });
            //$('body').css({ "height": "auto", "overflow": "auto" });

        }

        $('.slide_close').click(function () {
            fadeOutFilter();
        });
    </script>

</div>