@model System.Data.DataTable

<!--头部-->
<div class="top">
    <span class="iconfont top_nav">
        <i>&#xe65b;</i>
        <div class="top_nav_in">
            <div class="top_nav_in_t">
                <div class="top_nav_in_avatar circle">
                    <img src="/Content/images/avatar_t2.png" width="100%" />
                </div>
                <div class="top_nav_in_name">@ViewBag.StaffName</div>
            </div>
            <ul>
                @{foreach (System.Data.DataRow dr in Model.Rows)
                  {
                    <li>
                        <em class="iconfont">&#xe690;</em><a href="@dr["Url"]">@dr["Title"]</a>
                    </li>
                  }
                }
            </ul>
        </div>
        <div class="top_nav_in2"></div>
        <script>
            $(function () {
                var w_h = $(document).height();
                var w_w = $(document).width();
                $('.top_nav_in').height(w_h);
                $('.top_nav_in2').width(w_h);
                $('.top_nav_in2').height(w_h);
            });
        </script>
        <script>
            $('.top_nav i').click(function () {
                $('.top_nav_in').css('left', '0');
                $('.top_nav_in2').fadeIn(200);
            });
            $('.top_nav_in2').click(function () {
                $('.top_nav_in').css('left', '-200px');
                $('.top_nav_in2').fadeOut(200);
            });
        </script>
    </span>
    <label class="iconfont" onclick="refresh()">&#xe727;</label>
    <i class="iconfont" onclick="initFilter()">&#xe729;</i>
</div>

 <div class="top_choose">
    <div class="weui_cells_title" style="padding:0">工单状态</div>
     <div class="weui-row" id="filterStatus">
         <div class="weui-col-33" value="1">待委派</div>
         <div class="weui-col-33" value="2">待受理</div>
         <div class="weui-col-33 now" value="3">处理中</div>
         <div class="weui-col-33" value="4">待验收</div>
         <div class="weui-col-33" value="99">完成</div>
         <div class="weui-col-33" value="-3">被驳回</div>
         <div class="weui-col-33" value="0">已撤销</div>
     </div>
    <div class="weui_cells_title" style="padding:0">紧急程度</div>
     <div class="weui-row" id="filterPriority">
         <div class="weui-col-33 now" value="0">一般</div>
         <div class="weui-col-33" value="1">紧急</div>
         
     </div>
     <div class="weui_cells_title" style="padding:0">截止日期</div>
     <div class="weui-row" id="filterBookingTime">
         <div class="weui-col-33">2017-10-10</div>
     </div>
     <div class="weui_cells_title" style="padding:0">内容</div>
     <div class="weui-row" id="filterContent">
         <div class="weui-col-33">CDC中国开发者大会</div>
     </div>
    <div class="slide_close iconfont">&#xe79a;</div>
     <a class="weui_btn weui_btn_primary" href="javascript:search()" id="search">确定</a>

    <script>
        $(function () {
            var w_h2 = $(window).height();
            $('.top_choose').height(w_h2);

            $('#filterStatus').children('div').on('click', function () {
                $(this).siblings("div").removeClass('now');
                $(this).addClass('now');
            })

            $('#filterPriority').children('div').on('click', function () {
                $(this).siblings("div").removeClass('now');
                $(this).addClass('now');
            })
        });
        $(function () {
            $('.top i').click(function () {
                $('.top_choose').fadeIn(200);
            });
            $('.slide_close').click(function () {
                $('.top_choose').fadeOut(200);
            });
        });


    </script>
</div>