@{
    //【GetTreeList】 TODO 为什么选中的未配置的module？？？
    ViewBag.Title = "分配角色模块";
    Layout = "~/Areas/Admin/Views/Shared/_InnerLayout.cshtml";
}

@Html.Partial("~/Areas/Admin/Views/Shared/_Header.cshtml", Request.Url.AbsolutePath)
<div class="mini-fit">
    <div id="RoleID" class="mini-hidden"></div>
    <div id="Module-datagrid" class="mini-treegrid" ajaxoptions="{type : 'get'}" style="width:100%;height:100%" autoload="false"
         url="@Url.Action("GetGrantPermissionModuleDT", "Permission", new { area = "Admin" })" showtreeicon="false" resultastree="false" expandonload="1" multiselect="false" showcheckbox="true" showfoldercheckbox="true" autocheckparent="false" checkrecursive="false"
         treecolumn="resourcename" idfield="Resource_ID" parentfield="Resource_ParentID" datafield="Data.DT.JSNet">
        <div property="columns">
            <div name="resourcename" field="Resource_FullName" width="210" headeralign="center" align="left" allowsort="true">标题</div>
            <div field="Resource_Code" width="210" headeralign="center" align="left" allowsort="true">标识码</div>
            <div field="Resource_ResourceType" width="60" headeralign="center" align="center" allowsort="true">资源类型</div>
            <div field="Resource_Target" width="120" headeralign="center" align="center" allowsort="true">资源</div>
            <div field="Resource_TargetConstraint" width="120" headeralign="center" align="left" allowsort="true">资源字段</div>
            <div field="Resource_NavigateUrl" width="150" headeralign="center" align="left" allowsort="true">Url地址</div>
            <div field="Resource_SortCode" width="60" headeralign="center" align="center" allowsort="true">排序</div>
            <div field="Resource_Description" width="120" headeralign="center" align="left" allowsort="true">资源描述</div>
        </div>
    </div>
</div>
<div class="mini-toolbar" style="text-align:center;padding-top:8px;padding-bottom:8px;" borderstyle="border:0;">
    <a class="mini-button" style="width:60px;" onclick="onOk()">确定</a>
    <span style="display:inline-block;width:25px;"></span>
    <a class="mini-button" style="width:60px;" onclick="onCancel()">取消</a>
</div>

<script>
    mini.parse()
    var Module_grid = mini.get("Module-datagrid");

    ////////////////////
    //标准方法接口定义
    function SetGridData(data) {
        //跨页面传递的数据对象，克隆后才可以安全使用
        data = mini.clone(data);
        mini.get("RoleID").setValue(data.ID);

        Module_grid.load({
        }, function (re) {
            var jdata = ajaxTips(re.text);
            debugger;
            if (jdata.Code == "200") {
                //check已配置的资源明细
                var url = '@Url.Action("GetGrantedPermissionModuleIDs", "Permission", new { area = "Admin" })';
                var parms = {
                    RoleID: data.ID
                };
                doGetSync(url, parms, function (jdata) {
                    debugger;
                    if (jdata.Code == "200") {
                        Module_grid.setValue(jdata.Data,false);
                    }
                })
            }
        }, function (re) {
        })
    }

    //////////////////////////////////
    function CloseWindow(action) {
        if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
        else window.close();
    }

    function onOk() {
        var RoleID = mini.get("RoleID").getValue();
        var ModuleIDs;

        var rows = Module_grid.getCheckedNodes(true);

        var ids = [];
        for (var i = 0, l = rows.length; i < l; i++) {
            var row = rows[i];
            ids.push(row.Resource_ID);
        }
        ModuleIDs = ids.join(",");

        var url = "@Url.Action("GrantPermissionModule", "Permission", new { area = "Admin" })";
        var data = {
            RoleID: RoleID,
            ModuleIDs: ModuleIDs
        };
        doGetSync(url, data, function (jdata) {
            if (jdata.Code == "200") {
                CloseWindow("save");
            }
        });
    }
    function onCancel() {
        CloseWindow("cancel");
    }



</script>
