@{
    //【GetTreeList】
    ViewBag.Title = "分配角色模块";
    Layout = "~/Areas/Admin/Views/Shared/_InnerLayout.cshtml";
}

@Html.Partial("~/Areas/Admin/Views/Shared/_Header.cshtml", Request.Url.AbsolutePath)
<div class="mini-fit">
    <div id="RoleID" class="mini-hidden"></div>
    <div id="Scope-datagrid" class="mini-treegrid" ajaxoptions="{type : 'get'}" style="width:100%;height:100%" autoload="false"
         url="@Url.Action("GetGrantRoleScopeDT", "Permission", new { area = "Admin" })" showtreeicon="false" resultastree="false" expandonload="1" multiselect="false" showcheckbox="true" showfoldercheckbox="false"
         treecolumn="treename" idfield="Resource_ID" parentfield="Resource_ParentID" datafield="Data.DT.JSNet">
        <div property="columns">
            <div name="treename" field="Resource_FullName" width="180" headeralign="center" align="left" allowsort="true">资源标题</div>
            <div field="PermissionScope_ID" width="180" headeralign="center" align="left" allowsort="true" visible="false">资源对象ID</div>
            <div field="Resource_Code" width="180" headeralign="center" align="left" allowsort="true">资源标识码</div>
            <div field="Organize_FullName" width="120" headeralign="center" align="center" allowsort="true">资源对象</div>
            <div field="Organize_Code" width="120" headeralign="center" align="center" allowsort="true">资源对象标识码</div>
            <div field="OrganizeCategory_FullName" width="120" headeralign="center" align="center" allowsort="true">资源对象类别</div>
            <div field="OrganizeCategory_Code" width="120" headeralign="center" align="center" allowsort="true">资源对象类别标识码</div>
        </div>
    </div>
</div>
<div class="mini-toolbar" style="text-align:center;padding-top:8px;padding-bottom:8px;" borderstyle="border:0;">
    <a class="mini-button" style="width:60px;" onclick="onOk()">确定</a>
    <span style="display:inline-block;width:25px;"></span>
    <a class="mini-button" style="width:60px;" onclick="onCancel()">取消</a>
</div>

<script>
    mini.parse()
    var Scope_grid = mini.get("Scope-datagrid");

    ////////////////////
    //标准方法接口定义
    function SetGridData(data) {
        //跨页面传递的数据对象，克隆后才可以安全使用
        data = mini.clone(data);
        mini.get("RoleID").setValue(data.ID);

        Scope_grid.load({
        }, function (re) {
            var jdata = ajaxTips(re.text);
            debugger;
            if (jdata.Code == "200") {
                //check已配置的资源明细
                var url = '@Url.Action("GetGrantedScopeIDs", "Role", new { area = "Admin" })';
                var parms = {
                    RoleID: data.ID
                };
                
                doGetSync(url, parms, function (jdata) {
                    if (jdata.Code == "200") {
                        var array = jdata.Data.split(',');
                        var rows = Scope_grid.getAllChildNodes();
                        for (var i = 0, l = rows.length; i < l; i++) {
                            if (rows[i].PermissionScope_ID != null && $.inArray(rows[i].PermissionScope_ID.toString(), array) > -1) {
                                Scope_grid.checkNode(rows[i]);
                            }
                            if (rows[i].PermissionScope_ID == null) {
                                Scope_grid.disableNode(rows[i]);
                            }
                        }
                    }
                })
            }
        }, function (re) {
        })
    }

    //////////////////////////////////
    function CloseWindow(action) {
        if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
        else window.close();
    }

    function onOk() {
        var RoleID = mini.get("RoleID").getValue();
        var ScopeIDs;

        var rows = Scope_grid.getCheckedNodes(false);

        var ids = [];
        for (var i = 0, l = rows.length; i < l; i++) {
            var row = rows[i];
            ids.push(row.PermissionScope_ID);
        }
        ScopeIDs = ids.join(",");

        var url = "@Url.Action("GrantRoleScope", "Role", new { area = "Admin" })";
        var data = {
            RoleID: RoleID,
            ScopeIDs: ScopeIDs
        };
        doGetSync(url, data, function (jdata) {
            if (jdata.Code == "200") {
                CloseWindow("save");
            }
        });
    }
    function onCancel() {
        CloseWindow("cancel");
    }



</script>
