@model OrderSys.Model.BackViewModel

<div class="top" onclick="closePopup('@Model.Popup')">
    <em class="iconfont top_nav">
        <i>&#xe620;</i>返回
    </em>
    @Model.Title
    <label class="iconfont"></label>
</div>

<script>
    closePopup = function (container) {
        debugger;
        if ('@Model.Popup' == '#orderflows_popup')
        {
            $('.bottom_btn').hide();
        }

        $.closeMyPopup(container)
    }
</script>